.site {
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-size: 50px;
    color: rgb(54, 46, 54);
}

#toggle-menu {
    display: none;
}

#menu-label {
    cursor: pointer;
    padding: 10px;
    background-color: #ccc;
}

.dropdown-content {
    display: none;
}

#toggle-menu:checked + .dropdown-content {
    display: block;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-content ul li {
    margin: 10px 0;
}

.dropdown-content a {
    text-decoration: none;
    color: black;
}
